/* Styles */
#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
}

a.active {
  color: orange;
}

nav {
  padding-top: 20px;
}

.main_title {
  text-align: center;
}

.login_root {
  text-align: center;
}

.login_toolbar {
  display: inline-block;
}

.btn-space {
  padding-right: 5px;
}

